<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.mapper.RoomMapper">
	<resultMap type="Room" id="ResultMapRoom" autoMapping="true">
		<id property="roomNum" column="Room_Num" />
		<association property="roomSize" javaType="RoomSize"
			autoMapping="true">
			<id property="sizeId" column="Size_Id" />
			<result property="sizeName" column="Size_Name" />
		</association>
	</resultMap>
	<select id="selectRoom" resultMap="ResultMapRoom">
		select
		*
		from
		room,roomsize
		where
		room.`Room_Size`=roomsize.`Size_Id`
		<if test="type != null and type != ''">
			and Room_Type=#{type}
		</if>

	</select>

	<update id="updateRoomByRoomNum">
		UPDATE
		room
		SET
		Room_Type = #{type}
		WHERE Room_Num =
		#{number};
	</update>

	<insert id="insertRoom">
		INSERT INTO room (
		Room_Num,
		Room_Type,
		Room_Size
		)
		VALUES
		(
		#{room.roomNum},
		#{room.roomType},
		#{room.roomSize.sizeId}
		);
	</insert>

	<delete id="deleteRoom">
		delete
		from
		room
		where Room_Num = #{number};
	</delete>
</mapper>